/* ------- Font -------  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*---------------------------------
    Common Style or utilities
------------------------------------*/

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/*---------- Head Section -----------*/

.head-part {
    background-color: #2D25A0;
    padding: 100px 0px;

}

.flexible {
    display: flex;
    margin-bottom: 150px;
    justify-content: space-between;
}

.half-width {
    width: 40%;
    margin-left: 156px;
    margin-right: 140px;
}

.half-width img {
    width: 556px;
    height: 438px;
}

.head-title {
    color: white;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    margin-bottom: 27px;
}

.link-button {
    text-decoration: none;
    background: #E02C6D;
    padding: 10px 40px;
    border-radius: 2px;
    color: white;
    font-weight: 500;
}

.link-button span {
    margin-left: 8px;
    width: 24px;
}

/*---------- Head Section End -----------*/

/*--------------------------------------
            Players-blogs Start
--------------------------------------- */
.players-blogs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 165px;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 27px;
    justify-items: center;
}

.blog {
    margin-right: 30px;
    margin-bottom: 45px;
    box-shadow: #0000003a;
    width: 330px;
    height: 456px;
    padding: 18px 0px 18px 18px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15000000596046448);
}

.thumbnail img {
    height: 256px;
    width: 300px;
    margin-left: 6px;
}

.blog-info h3 {
    margin-top: 16px;
    font-size: 20px;
}

/* ----Players-blogs End---- */

/* Highlights section Start */


.hl-title {
    font-weight: 700;
    font-size: 64px;
}

.hl-img {
    margin-left: 150px;
}

/* Highlights section End */

/*----------------
    footer Start
------------------ */

.full-foot {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 70px;
}

.foot-banner img {
    width: 260px;

}

.icon {
    margin-top: 10px;
    width: 170px;

}

.fa-twitter,
.fa-instagram,
.fa-facebook,
.fa-whatsapp {
    background: rgba(131, 126, 126, 0.397);
    color: white;
    padding: 8px;
    border-radius: 50%;
    align-items: center;
}

.foot-text {
    font-size: 18px;
}